<% provide(:title, 'Haz una Pregunta') %>
<h1>Haz una Pregunta!</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([current_user, @question]) do |f| %>
      <%= render 'shared/question_error_messages', object: f.object %>

      <%= f.label :title, 'Titulo' %>
      <%= f.text_field :title %>

      <%= f.text_area :content, placeholder: "Contenido..." %>
      <br>
      <h3>Nivel de Urgencia</h3>
      <br>
      <div class="radio">
        <%= f.radio_button(:level, 1) %>
        <%= f.label(:level, "Bajo") %>
        <%= f.radio_button(:level, 2) %>
        <%= f.label(:level, "Medio") %>
        <%= f.radio_button(:level, 3) %>
        <%= f.label(:level, "Alto") %>
      </div>
      <br>
      <h3>Área de Experiencia</h3>
      <br>
      <%= f.collection_select(:area_id, Area.find(:all), :id, :name) %>
      <br><br>
      <center>
      <%= f.submit "Preguntar", class: "btn btn-large btn-primary" %>
      </center>
    <% end %>
  </div>
</div>