<!--<div class="center hero-unit">-->
<div class="cuerpo">
<h1><%= link_to image_tag("solu_logo_big_w_crop.png", alt: "Solucionario"), root_path  %></h1>
<br><br>
<center>
<%if signed_in?%>	
<%= link_to "Haz una pregunta!", new_user_question_path(current_user), class: "btn btn-large btn-primary" %>
<%= link_to "Responde preguntas!", questions_path, class: "btn btn-large btn-primary" %>
<%else%>
<%= link_to "Registrate!", signup_path, class: "btn btn-large btn-primary" %>
<%end%>
</center>
</div>
<br><br>
<%= link_to image_tag("itb_logo.png", alt: "InTheBeat"), '#' %>