<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
		<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h1>
	</section>
  </aside>
  <div class="span8">
      <h3><%=link_to("Top 5 Solubridades", '#')%></h3>
		<ul class="users">
		  <%= render @top5 %>
		</ul>
    <br><br><br>
	  <% if @user.questions.any? %>
      <h3>Preguntas (<%= @user.questions.count %>)</h3>
      <ol class="questions">
        <%= render @questions %>
      </ol>
      <%= will_paginate @questions %>
    <% end %>
  </div>
</div>