<li>
  <span class="title"><%= simple_format(answer.content) %></span>
  <span class="timestamp">
    Realizada por <%= answer.writer.name %>, <%= answer.created_at %>.
  </span>
  <% @writer = User.find(answer.writer.id) %>
    <%if @user==current_user && answer.points!=1%>
    <%= link_to "Es util!", edit_user_question_answer_path(@user.id, @question.id, answer.id), class: "btn btn-medium btn-primary" %>
    <%elsif answer.points==1%>
    <b>Marcada como útil</b>
    <%end%>
  <br><br>
  <% if answer.comments.any? %>
      <% @comments = answer.comments %>
      <div class="comment_title">
      <h4>Comentarios (<%= answer.comments.count %>)</h4>
      </div>
      <br>
      <ol class="comments">
        <%= render @comments %>
      </ol>
  <% end %>
  <br>
  <div class="comment_button">
    <%= link_to "Comentar", new_user_question_answer_comment_path(current_user, @question, answer.id), class: "btn btn-medium btn-primary" %>
  </div>
</li>