<% provide(:title, "Calificar respuesta de "+@writer.name) %>
<h1>Califica la Respuesta</h1>
	<div class="row">
  	  	<h2><%= link_to(@writer.name, @writer) %> respondió...</h2>
  	  	<%= simple_format(@answer.content) %>
  	</div>
  	<br>
  	<div class="row">
  		<div class="span6 offset0">
	  		<%= form_for ([@user, @question, @answer]) do |f| %>
	  			<%= render 'shared/prize_error_messages' %>
	  			<%= hidden_field_tag 'answer[points]', 1 %>
			  	<% if @comments.any? %>
			      <h3>Comentarios (<%= @comments.count %>)</h3>
			      <br>
			      <%= f.fields_for :comments do |ff| %>
			      <%= render 'shared/comment_fields', f: ff %>
			      <% end %>
				<% end %>
				<%= f.submit "Calificar", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>